.Menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.4rem;
    padding-top: 3.2rem;
}

.MenuLink {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.4rem;
    font-weight: bold;
    font-size: 4.2rem;
    text-decoration: none;
    background-color: var(--primary);
    color: var(--text-over-primary);
    padding: 1.5rem;
    border-radius: 5px;
    transition: all 0.1s ease-in-out;
}
.MenuLink:hover {
    filter: brightness(50%);
}
.MenuLink svg {
    width: 2.4rem;
    height: 2.4rem;
}